[submodule "cmd/derod/vendor/github.com/google/gops"]
	path = cmd/derod/vendor/github.com/google/gops
	url = https://github.com/google/gops.git
[submodule "vendor/github.com/bradfitz/gomemcache"]
	path = vendor/github.com/bradfitz/gomemcache
	url = https://github.com/bradfitz/gomemcache.git
